@model IEnumerable<Inventory>

<h2>TDA Inventory</h2>

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Inventory Tag</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Date Assigned</th>
        <th>Distributor</th>
        <th>Custodian</th>
    </tr>

    @foreach (var inventory in Model)
    {
       <tr>
           <td>@inventory.ProductID</td>
           <td>@inventory.InventoryTag</td>
           <td>@inventory.ProductName</td>
           <td>@inventory.Description</td>
           <td>@inventory.Distributor</td>
           <td>@inventory.DateAssigned.ToString("d")</td>
           <td>@inventory.Custodian</td>
       </tr>
        
    }
</table>